In [44]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [45]:
import numpy as np
import pandas as pd

In [46]:
import datetime as dt

In [47]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from sqlalchemy import create_engine, func
from sqlalchemy import inspect

In [48]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [49]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [50]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [51]:
insp = inspect(engine)
print(insp.get_table_names())

['measurement', 'station']

In [52]:
# save references to each table
# ie give the classes new variable names (insead of referencing base.classes every time)
Measurement = Base.classes.measurement
Station = Base.classes.station

In [53]:
session = Session(engine)

In [54]:
# Adding prev_year variable
prev_year = dt.date(2017, 8, 23)

#Want to calculate previous year - use dt.timedelta() function
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)

In [55]:
# Create a variable to store the results of the query we'll write
results = []

In [56]:
results = session.query(Measurement.date, Measurement.prcp)